VITE_OIDC_CLIENT_ID=abcdefg12345
VITE_OIDC_ENDPOINT=https://example.com/oidc/endpoint
VITE_OIDC_REDIRECT_URI=http://localhost:3000/login-callback
VITE_VIDEO_ORG_ID=2e385609-c9d7-4cc4-b5c2-a866528a27fe
VITE_VIDEO_TARGET_ID=ACCC1ABCD2F
VITE_VIDEO_SIGNALING_URL=wss://signaling.prod.webrtc.connect.axis.com/client

VITE_EXAMPLE_TYPE=live # live or playback

# Playback-specific options
VITE_PLAYBACK_RECORDING_ID=20250709_163852_5D70_ACCC1ABCD2F
VITE_PLAYBACK_DISK_ID=SD_DISK
VITE_PLAYBACK_START_TIME=2025-08-26T07:00:00.000Z
VITE_PLAYBACK_DURATION_SECONDS=60